#rooms-page {
    padding: 20px;
}

#rooms-page #add-room-btn{
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    margin: 20px 0;
    padding: 20px;
}
#rooms-page #add-room-btn:hover{
    background-color: black;
    color: white;
}

.list-rooms{
    display: flex;
    flex-wrap: wrap;
}

.room{
    flex:0 0 250px;
    border: 1px solid black;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.room .count-user{
    font-size: 14px;
    color: #4e4e4e;
    display: block;
    width: 100%;
    font-style: italic;
}

.title-room{
    font-size: 24px;
    font-weight: bold;
}

.room .join-btn{
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    padding: 10px;
}

.room .join-btn:hover{
    background-color: black;
    color: white;
}